<div class="header">
  <h1>All your lists</h1>
</div>
<div class="container m-20 mt-5">
  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do  %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : asset_path("list_base.jpg") %>)">
          <h1><%= list.name.upcase %></h1>
        </div>
      <% end %>
    <% end %>
        <%= link_to new_list_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("list_base.jpg") %>)">
          <h1>-</h1><span>New List</span><h1>-</h1>
        </div>
        <% end %>
  </div>
</div>
